In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [70]:
url = 'https://raw.githubusercontent.com/nullNurs/freeCodeCamp-medical-data-visualizer/master/medical_examination.csv'


df = pd.read_csv(url)
df.head(3)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1

In [71]:
df.shape

(70000, 13)

In [72]:
df['bmi'] = df.weight/df.height.div(100).pow(2)
df.head(3)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,21.967120
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.927679
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.507805

In [73]:
def oweight(x):
    if x > 25:
        return 1
    else:
        return 0

df['overweight'] = df.bmi.map(oweight)
df.sample(3)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi,overweight
28142,40234,23502,2,175,103.0,160,80,2,2,0,0,1,1,33.632653,1
62354,89041,19558,1,145,60.0,140,90,2,1,0,0,1,0,28.537455,1
10967,15696,22605,1,156,59.0,120,70,1,1,0,0,1,0,24.243918,0

In [74]:
def normal_gluc(x):
    if x == 1:
        return 0
    else:
        return 1

df['gluc'] = df['gluc'].map(normal_gluc)
df.sample(5)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi,overweight
47472,67792,15489,2,186,89.0,120,80,1,0,0,0,0,0,25.725517,1
41371,59117,19130,1,169,70.0,160,90,1,0,0,0,1,0,24.508946,0
69148,98755,22796,1,158,77.0,120,80,1,0,0,0,1,0,30.844416,1
16764,23957,19610,2,160,68.0,120,80,3,1,0,0,1,0,26.562500,1
17705,25304,19060,2,172,83.0,120,80,1,0,0,0,1,1,28.055706,1

In [75]:
df.gluc.value_counts()

0    59479
1    10521
Name: gluc, dtype: int64